.head {
    background-image: url(file:///C:/Users/Niloy/Downloads/icons8-team-dhZtNlvNE8M-unsplash.webp);

    background-repeat: no-repeat;
    height: 670px;
    background-size: cover;
    border-radius: 10px;
    /* margin-top: -5px; */
    padding: 30px;
    text-align: center;

}

.head h1 {
    font-size: 60px;
    color: #0c223e;
    margin: 20px;
}

.head p {
    color: #0c223e;
}

.button {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #7d9bc1;
    color: white;
    border-radius: 5px;
}