.topic {
    background-color:
        #b3dcd8;
    margin: 20px;
}

.image {
    width: 200px;
    height: 200px;

}

.title {
    font-size: 60px;
    color: #0c223e;
}

.button {
    background-color: #7d9bc1;
}

.total {
    color: #0c223e;
}